[Desktop Entry]
Type=Application
Name=BLE Explorer
Exec=path-to-bleExp-folder/bleExp.py
Terminal=false
Icon=path-to-bleExp-folder/bleExp.png
Path=path-to-bleExp-folder/
Categories=Development;Utility;

